

/* ================================
   Page Background
================================ */
.bg-image {
  background: url("/assets/images/backgrounds/grunge.png") no-repeat center center;
  background-size: cover;
  background-color: #23221F;
  background-blend-mode: soft-light;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.done-icon-container{
  width: 302px;
  height: 302px;
  border-radius: 50%;
  background: #D9D9D9;
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-text-container {
  padding: 32px 24px;
  color: #FFF;
  text-align: center;
  font-family: "Inter-Regular";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  color: #FFF;
  font-family: "Inter-Regular";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

/* ================================
   Custom Button Styling
================================ */
.custom-btn {
  position: fixed;
  bottom: 20px;
  width: 95%;
  background: #E39625;
  border: none;
  border-radius: 8px;
  padding: 16px;
  color: #000;
  font-size: 15px;
}