@use "variables" as *;

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $textPrimary;
  font-size: 14px;
  line-height: 1.334rem;
}

.mainWrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

.container.full-width {
  display: flex;
  align-items: center;
  width: 100%;
}

.pageWrapper {
  padding: $layout-padding;
  min-height: calc(100vh - 100px);

  margin: 0 auto;
  &.maxWidth {
    max-width: $boxedWidth;
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.shadow-none {
  box-shadow: none !important;
}

.rounded {
  border-radius: $border-radius !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 25px !important;
}

.overflow-hidden {
  overflow: hidden;
}

.text-decoration-none {
  text-decoration: none;
}

.position-relative {
  position: relative;
}

.table-responsive {
  overflow-x: auto;

  td,
  mat-cell {
    white-space: nowrap;
    padding: 16px;
  }
}

.op-5 {
  opacity: 0.5;
}

.cursor-pointer {
  cursor: pointer;
}

.avatar-group {
  img {
    border: 2px solid white;
    margin-right: -5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

a {
  color: var(--mat-sys-on-background);
}

a:hover {
  color: var(--mat-sys-primary);
}

.text-hover-primary:hover {
  .hover-text {
    color: $primary;
  }
}

.filter-sidebar {
  width: 290px !important;
}

.hstack {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.align-items-center {
  align-items: center !important;
}
