@use "sass:math";
@use "sass:string";
@function url-friendly-colour($colour) {
    @return '%23' + string.slice('#{$colour}', 2, -1);
}

@function pow($value, $pow: 1) {
    @return if($pow == 0, 1, $value * pow($value, $pow - 1));
}
  
@function rounded($value, $precision: 1) {
    $pow: pow(10, $precision);
    @return calc(math.round($value * $pow) / $pow);
}