<div class="blank-layout-container bg-image">
    <h1>Növbəti çəkilişlər</h1>
    <div class="w-100" @fadeInUp>
        <div class="card-lists-container">
            <div class="card-list">
                <div class="card-item" [routerLink]="['/dashboard/next-shots', 1]">
                    <div class="card-item-subject">Sangachal Terminal Security induction</div>
                    <div class="card-item-bottom">
                        <div class="card-item-date">14.10.2025 | 09:00</div>
                        <div class="card-item-company"><span class="dot"></span> bp</div>
                    </div>
                </div>
                <div class="card-item" [routerLink]="['/dashboard/next-shots', 2]">
                    <div class="card-item-subject">Dechatlon tanitim videosu</div>
                    <div class="card-item-bottom">
                        <div class="card-item-date">15.10.2025 | 09:00</div>
                        <div class="card-item-company"><span class="dot"></span> Dechatlon AZE</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
