@use '../variables' as *;

.bg-primary {
    background-color: var(--mat-sys-primary) !important;
}


.primary-color {
    color: var(--mat-sys-primary) !important;
}

.error-color {
    color: var(--mat-sys-error) !important;
}

.secondary-color {
    color: var(--mat-sys-outline) !important;
}

:root {
    .mat-expansion-panel:not([class*=mat-elevation-z]) {
        box-shadow: $box-shadow;
    }
}