.bg-image{
    background: url("/assets/images/backgrounds/grunge.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #23221F;
    background-blend-mode: soft-light;
}

#forgot-password-text{
    color: white;
    text-align: center;
    font-family: "ShadowsIntoLightTwo-Regular";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}