@use "../variables" as *;

.blank-layout-container {
  min-height: 100vh;
  display: flex;
  background-size: cover;
  align-items: center;
  overflow: hidden;
}

.auth-wrapper {
  min-height: 100vh;
  background-size: cover;
  align-items: center;
  overflow: hidden;
}

.auth-wrapper-center {
  max-width: 1600px;
  margin: 10px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.register-bg {
  background: url("../../images/backgrounds/register-bg.jpg");
}

.login-bg {
  background: url("../../images/backgrounds/login-bg.jpg");
}

.forget-password-bg {
  background: url("../../images/backgrounds/forget-password-bg.jpg");
}

.two-step-bg {
  background: url("../../images/backgrounds/two-step-bg.jpg");
}

.login-bg,
.register-bg,
.forget-password-bg,
.two-step-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.shaper-wrapper-login,
.shaper-wrapper-register,
.shaper-wrapper-forget-password,
.shaper-wrapper-two-step {
  height: 100vh;
  display: flex;
}

.or-border {
  position: relative;
  text-align: center;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100px;
    top: 50%;
    height: 1px;
    background: $borderColor;
  }

  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 100px;
    top: 50%;
    height: 1px;
    background: $borderColor;
  }
}


.error-msg {
  position: absolute;
  top: -19px;
  right: 3px;
}

.auth-card {
  max-width: 550px;
  width: 100%;
  position: relative;
  height: 100%;
  z-index: 1;
  background-color: $white;
  box-shadow: rgba(37, 83, 185, 0.1) 0px 2px 30px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card-center {
  margin: 50px;
  max-width: 1130px;
  width: 100%;
  position: relative;
  border-radius: 18px;
  z-index: 1;
  box-shadow: rgba(37, 83, 185, 0.1) 0px 2px 30px 15px;
  background-color: $white;
}

.auth-body {
  padding: 16px 0 32px;
}

@media (max-width: 768px) {

  .login-bg,
  .register-bg,
  .forget-password-bg,
  .two-step-bg {
    display: none;
  }

  .shaper-wrapper-login {
    background: url("../../images/backgrounds/login-bg.jpg");
  }

  .shaper-wrapper-register {
    background: url("../../images/backgrounds/register-bg.jpg");
  }

  .shaper-wrapper-forget-password {
    background: url("../../images/backgrounds/forget-password-bg.jpg");
  }

  .shaper-wrapper-two-step {
    background: url("../../images/backgrounds/two-step-bg.jpg");
  }

  .shaper-wrapper-login,
  .shaper-wrapper-register,
  .shaper-wrapper-forget-password,
  .shaper-wrapper-two-step {
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .auth-card {
    position: absolute;
    padding: 20px 0;
    height: auto;
    border-radius: $border-radius;
  }
}

@media (max-width: 550px) {

  .auth-card {
    max-width: 350px;
  }
}

.two-step-form {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input {
    appearance: textfield;
    -moz-appearance: textfield;
    text-align: center;
  }
}