<div class="blank-layout-container bg-image">
  <div class="w-100" @fadeInUp>
    <img src="/assets/images/backgrounds/cover.png" alt="Logo" class="cover-image">

      <div class="card-lists-container">
        <div class="card-list">
            <h2>Növbədə nələr var?</h2>
            <div class="card-item">
              <div class="card-next-project-subject">Sangachal Terminal Security induction</div>
              <div class="card-next-project-bottom">
                <span class="card-next-project-date">2025-10-08 | 09:00</span>
                <span class="card-next-project-company"><span class="dot"></span> bp</span>
              </div>
            </div>
            <div class="card-item">
              <div class="card-next-project-subject">Dechatlon tanitim videosu</div>
              <div class="card-next-project-bottom">
                <span class="card-next-project-date">2025-10-07 | 09:00</span>
                <span class="card-next-project-company"><span class="dot"></span> Dechatlon AZE</span>
              </div>
            </div>
            <button class="show-more-btn" (click)="goToNextShots()">Tam siyahıya bax</button>
        </div>
        <div class="card-list">
            <h2>Ofisdə olmayanlar</h2>
            <div class="card-item">
              <div class="card-item-row">
              <span class="card-item-name">Apeture 300C</span>
              <span class="card-person-name">Tima</span>
              </div>
              <div class="card-item-row">
              <span class="card-item-name">Sony FX3</span>
              <span class="card-person-name">Roma</span>
              </div>
              <div class="card-item-row">
              <span class="card-item-name">Adjustable Handheld Gi.....</span>
              <span class="card-person-name">Adil</span>
              </div>
              <button class="show-more-btn" (click)="goToNotInOffice()">Tam siyahıya bax</button>
            </div>
        </div>
        <div class="card-list">
            <h2>Son layihələrimiz</h2>
            <div class="card-item">
              <div class="card-project-subject">BP Ofis induction videosu</div>
              <div class="card-project-date">2025-10-06 | 09:00</div>
            </div>
            <div class="card-item">
              <div class="card-project-subject">Norm Sement Zavodu HSSE induction videosu</div>
              <div class="card-project-date">2025-10-05 | 09:00</div>
            </div>
            <button class="show-more-btn" (click)="goToLastProjects()">Tam siyahıya bax</button>
        </div>
      </div>

      <div class="sticky-icon" (click)="onIconClick()">
        <img src="/assets/images/svgs/add.svg" alt="Help" />
      </div>

  </div>
</div>
