/* ================================
   Page Background
================================ */
.bg-image {
  background: url("/assets/images/backgrounds/grunge.png") no-repeat center center;
  background-size: cover;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 0;
  align-self: flex-start;
}

// ================================
// Card Lists Section
// ================================
.card-lists-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 430px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
}

.card-list {
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 12px 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-list h2 {
  width: 100%;
  margin-bottom: 8px;
  text-align: left;
  color: #FFF;
  font-family: "Inter-Regular";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-item {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 12px 16px;
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  font-family: "Inter-Regular";
  color: #23221F;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

// Next Project card styles for last card-list
.card-next-project-subject {
  width: 100%;
  margin-bottom: 8px;
  font-size: 20px;
  text-align: left;
}

.card-next-project-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.card-next-project-date {
  width: 60%;
  text-align: left;
}

.card-next-project-company {
  width: 40%;
  text-align: left;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #0573B8;
  border-radius: 50%;
  display: inline-block;
}

// Item card styles for last card-list
.card-item-row {
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.card-item-name {
  text-align: left;
}

.card-person-name {
  text-align: right;
}

// Last Project card styles for last card-list
.card-project-subject {
  width: 100%;
  margin-bottom: 4px;
  font-size: 20px;
  text-align: left;
}

.card-project-date {
  width: 100%;
  font-size: 13px;
  text-align: left;
}

// Show More Button
.show-more-btn {
  width: 100%;
  background: #E39625;
  border: none;
  border-radius: 8px;
  padding: 16px 16px;
  color: #000;
  font-size: 15px;
}