<div class="blank-layout-container bg-image">
  <div class="w-100" @fadeInUp>
    <img src="/assets/images/backgrounds/cover.png" alt="Logo" class="cover-image">

      <div class="card-lists-container">
        <div class="card-list">
            <h2>Növbədə nələr var?</h2>
            <div class="card-item">
              <div class="card-item-subject">Subject 1</div>
              <div class="card-item-bottom">
                <span class="card-item-date">2025-10-08 | 09:00</span>
                <span class="card-item-company">Company A</span>
              </div>
            </div>
            <div class="card-item">
              <div class="card-item-subject">Subject 2</div>
              <div class="card-item-bottom">
                <span class="card-item-date">2025-10-07 | 09:00</span>
                <span class="card-item-company">Company B</span>
              </div>
            </div>
            <button class="show-more-btn" (click)="goToNextShots()">Tam siyahıya bax</button>
        </div>
        <div class="card-list">
            <h2>Ofisdə olmayanlar</h2>
            <div class="card-item">
              <div class="card-item-row">
              <span class="card-item-name">Item A</span>
              <span class="card-person-name">Person X</span>
              </div>
              <div class="card-item-row">
              <span class="card-item-name">Item B</span>
              <span class="card-person-name">Person Y</span>
              </div>
              <div class="card-item-row">
              <span class="card-item-name">Item C</span>
              <span class="card-person-name">Person Z</span>
              </div>
              <button class="show-more-btn" (click)="goToNotInOffice()">Tam siyahıya bax</button>
            </div>
        </div>
        <div class="card-list">
            <h2>Son layihələrimiz</h2>
            <div class="card-item">
              <div class="card-project-subject">Project Subject 1</div>
              <div class="card-project-date">2025-10-06 | 09:00</div>
            </div>
            <div class="card-item">
              <div class="card-project-subject">Project Subject 2</div>
              <div class="card-project-date">2025-10-05 | 09:00</div>
            </div>
                <button class="show-more-btn" (click)="goToLastProjects()">Tam siyahıya bax</button>
        </div>
      </div>

  </div>
</div>
