<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Buttons</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">

      
      
      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 card-sm-stretch shadow-none">
          <mat-card-header>
            <mat-card-title>Sizes</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <button matButton="filled" class="btn-small">Small</button>
            <button matButton="filled" class="btn-medium m-l-8">Medium</button>
            <button matButton="filled" class="btn-large m-l-8">Large</button>
          </mat-card-content>
        </mat-card>
      </div>
      
      <div class="col-lg-8 col-sm-6">
        <mat-card class="b-1 card-sm-stretch shadow-none">
          <mat-card-header>
            <mat-card-title>Colors</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <button matButton="filled" class="btn-medium btn-indigo m-b-8 m-l-8"><mat-icon>favorite</mat-icon>Indigo</button>
            <button matButton="filled" class="btn-medium btn-green m-b-8 m-l-8">Green</button>
            <button matButton="filled" class="btn-medium btn-red m-b-8 m-l-8">Red</button>
            <button matButton="filled" class="btn-medium btn-yellow m-b-8 m-l-8">Yellow</button>
            <button matButton="filled" class="btn-medium btn-cyan m-b-8 m-l-8">Cyan</button>
            <button matButton="filled" class="btn-medium btn-orange m-b-8 m-l-8">Orange</button>
            <button matButton="filled" class="btn-medium btn-azure m-b-8 m-l-8">Azure</button>
            <button matButton="filled" class="btn-medium btn-violet m-b-8 m-l-8">Violet</button>
            <button matButton="filled" class="btn-medium btn-rose m-b-8 m-l-8"><mat-icon>favorite</mat-icon>Rose</button>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 card-sm-stretch shadow-none">
          <mat-card-header>
            <mat-card-title>Text</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <button matButton>Basic</button>
            <button class="m-l-8" matButton disabled>Disabled</button>
            <a class="m-l-8" matButton href="https://www.google.com/" target="_blank">Link</a>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 card-sm-stretch shadow-none">
          <mat-card-header>
            <mat-card-title>Elevated</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <button matButton="elevated">Basic</button>
            <button class="m-l-8" matButton="elevated" disabled>Disabled</button>
            <a
              class="m-l-8"
              matButton="elevated"
              href="https://www.google.com/"
              target="_blank"
              >Link</a
            >
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 card-sm-stretch shadow-none">
          <mat-card-header>
            <mat-card-title>Outlined</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <button matButton="outlined">Basic</button>
            <button class="m-l-8" matButton="outlined" disabled>Disabled</button>
            <a
              class="m-l-8"
              matButton="outlined"
              href="https://www.google.com/"
              target="_blank"
              >Link</a
            >
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 card-sm-stretch shadow-none">
          <mat-card-header>
            <mat-card-title>Filled</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <button matButton="filled">Basic</button>
            <button class="m-l-8" matButton="filled" disabled>Disabled</button>
            <a class="m-l-8" matButton="filled" href="https://www.google.com/" target="_blank"
              >Link</a
            >
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 card-sm-stretch shadow-none">
          <mat-card-header>
            <mat-card-title>Tonal</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <button matButton="tonal" class="btn-small">Basic</button>
            <button class="m-l-8" matButton="tonal" disabled>Disabled</button>
            <a class="m-l-8" matButton="tonal" href="https://www.google.com/" target="_blank"
              >Link</a
            >
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 card-sm-stretch shadow-none">
          <mat-card-header>
            <mat-card-title>Icon</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <button matIconButton aria-label="Icon button with more_vert" class="btn-large">
              <mat-icon>more_vert</mat-icon>
            </button>
            <button class="m-l-8" matIconButton disabled aria-label="Disabled icon button">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 card-sm-stretch shadow-none">
          <mat-card-header>
            <mat-card-title>Floating Action Button (FAB)</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <button matFab aria-label="Delete">
              <mat-icon>delete</mat-icon>
            </button>
            <button class="m-l-8" matFab disabled aria-label="Favorite">
              <mat-icon>favorite</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 card-sm-stretch shadow-none">
          <mat-card-header>
            <mat-card-title>Mini FAB</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <button matMiniFab aria-label="Menu">
              <mat-icon>menu</mat-icon>
            </button>
            <button class="m-l-8" matMiniFab disabled aria-label="Home">
              <mat-icon>home</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-4 col-sm-6">
        <mat-card class="b-1 card-sm-stretch shadow-none">
          <mat-card-header>
            <mat-card-title>Extended FAB</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <button matFab extended>
              <mat-icon>favorite</mat-icon>
              Basic
            </button>
            <button class="m-l-8" matFab extended disabled>
              <mat-icon>favorite</mat-icon>
              Disabled
            </button>
            <a class="m-l-8" matFab extended routerLink=".">
              <mat-icon>favorite</mat-icon>
              Link
            </a>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </mat-card-content>
</mat-card>
