
<div class="blank-layout-container bg-image">
    <h1>Son layihələrimiz</h1>
    <div class="w-100" @fadeInUp>
        <div class="card-lists-container">
          <div class="card-list">
              <div class="card-item">
                <div class="card-project-subject">Norm Sement Zavodu HSSE induc . . .</div>
                <div class="card-project-info">
                  12.10.2025 | 09:00<br>
                  112 avadanlıq | 3 gün | amortizasiya 1356 AZN
                </div>
              </div>
              <div class="card-item">
                <div class="card-project-subject">Norm Sement Zavodu HSSE induc . . .</div>
                <div class="card-project-info">
                  12.10.2025 | 09:00 <br>
                  112 avadanlıq | 3 gün | amortizasiya 1356 AZN
                </div>
              </div>
          </div>
        </div>
    </div>
</div>
